# Docs https://www.redhat.com/sysadmin/systemd-oneshot-service

[Unit]
Description=A simple oneshot service that executes the dts-n62-issue-msg-gen script
Wants=network-online.target
After=network-online.target
Before=getty.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dts-n62-issue-msg-gen
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target
